# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media
staticfiles
static/

# If your build process includes Django collectstatic, these files are:
#   - re-created for each build,
#   - committed with very large diffs
#   - frequently cause merge conflicts
# The following captures commonly-named static dirs built by collectstatic
static_cdn/
static_root/

# dotenv
.env
.env.*
*.env

# virtualenv
.venv
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*~

# MyPy
.mypy_cache/
.dmypy.json

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/
